<div class="mb-10" x-data="{ open: false }">
  <div class="flex items-center justify-between mb-1.5">
    <p class="font-medium text-gray-800 font-alegreya">{{ .File.TranslationBaseName | humanize | title }}</p>
    <div class="flex space-x-0.5">
      <button class="p-1 text-xs font-medium rounded appearance-none select-none" x-on:click="open = ! open"
        :class="!open ? 'text-gray-600 hover:bg-gray-200' : 'text-white bg-gray-700 hover:bg-gray-800'">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <polyline points="64 88 16 128 64 168" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="24"></polyline>
          <polyline points="192 88 240 128 192 168" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="24"></polyline>
          <line x1="160" y1="40" x2="96" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="24"></line>
        </svg>
      </button>
    </div>
  </div>
  <div class="w-full border rounded {{ .Params.wrapper }}" x-show="!open">
    {{ .Content }}
  </div>

  <div class="relative prose prose-pre:max-h-[20rem] max-w-none prose-pre:my-0" x-show="open" x-cloak>
    {{ highlight .Content "html" "style=dracula" }}
  </div>
</div>