<footer
  class="font-alegreya mx-auto flex max-w-[85rem] flex-col space-y-4 px-4 py-12 text-left text-lg font-normal italic text-gray-500 md:block md:space-y-0">
  <span>Myna UI</span>
  <span class="hidden md:inline">·</span>
  <a
    class="hover:underline hover:decoration-2"
    href="https://github.com/praveenjuge/myna/"
    target="_blank"
    rel="noopener noreferrer">
    GitHub
  </a>
  <span class="hidden md:inline">·</span>
  <a
    class="hover:underline hover:decoration-2"
    href="https://github.com/praveenjuge/myna/issues/new/choose"
    target="_blank"
    rel="noopener noreferrer">
    Report an Issue
  </a>
  <span class="hidden md:inline">·</span>
  <a
    class="hover:underline hover:decoration-2"
    href="https://phosphoricons.com/"
    target="_blank"
    rel="noopener noreferrer">
    Icons by Phosphor Icons
  </a>
  <span class="hidden md:inline">·</span>
  <a
    class="hover:underline hover:decoration-2"
    href="https://fonts.google.com/specimen/Alegreya"
    target="_blank"
    rel="noopener noreferrer">
    Typeset in Alegreya
  </a>
</footer>
