<footer
  class="px-4 mx-auto italic max-w-[85rem] font-alegreya text-lg font-normal text-left text-gray-500 py-12 flex flex-col space-y-4 md:space-y-0 md:block">
  <span>Myna UI</span>
  <span class="hidden md:inline">·</span>
  <a class="hover:underline hover:decoration-2" href="https://github.com/praveenjuge/myna/" target="_blank"
    rel="noopener noreferrer">
    GitHub
  </a>
  <span class="hidden md:inline">·</span>
  <a class="hover:underline hover:decoration-2" href="https://github.com/praveenjuge/myna/issues/new/choose"
    target="_blank" rel="noopener noreferrer">
    Report an Issue
  </a>
  <span class="hidden md:inline">·</span>
  <a class="hover:underline hover:decoration-2" href="https://phosphoricons.com/" target="_blank"
    rel="noopener noreferrer">
    Icons by Phosphor Icons
  </a>
  <span class="hidden md:inline">·</span>
  <a class="hover:underline hover:decoration-2" href="https://fonts.google.com/specimen/Alegreya" target="_blank"
    rel="noopener noreferrer">
    Typeset in Alegreya
  </a>
</footer>