<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Title Tags -->
<title itemprop="name">{{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Site.Title }}" />
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Site.Title }}" />
<meta name="application-name" content="{{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<!-- Description Tags -->
<meta name="description" content="{{ .Site.Params.description }}" />
<meta itemprop="description" content="{{ .Site.Params.description }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta name="twitter:description" content="{{ .Site.Params.description }}" />

<!-- Link Tags -->
<base href="{{ .Permalink }}" />
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<!-- Image Tags -->
<meta itemprop="image" content="{{ .Site.Params.og_image | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.og_image | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.og_image | absURL }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.og_image | absURL }}" />

<!-- Date Tags -->
<meta property="og:updated_time" content={{ .Lastmod.Format
"2006-01-02T15:04:05Z0700" | safeHTML }} />

<!-- Sitemap & RSS Feed Tags -->
<link
  rel="sitemap"
  type="application/xml"
  title="Sitemap"
  href='{{ "sitemap.xml" | absURL }}' />
{{ with .OutputFormats.Get "RSS" }}
<link
  href="{{ .Permalink }}"
  rel="alternate"
  type="application/rss+xml"
  title="{{ $.Site.Title }}" />
<link
  href="{{ .Permalink }}"
  rel="feed"
  type="application/rss+xml"
  title="{{ $.Site.Title }}" />
{{ end }}

<!-- Search Engine Crawler Tags -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<!-- Social Media Tags -->
<meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
<meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

<!-- Other Tags -->
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta property="og:type" content="website" />
<meta name="author" content="{{ .Site.Params.author }}" />
<script defer type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ .Permalink }}",
    "sameAs": ["{{ .Site.Params.github }}"],
    "name": "{{ .Title }}",
    "logo": "https://www.mynaui.com/favicon.png"
  }
</script>

<!-- Preload Links -->
<link rel="preload" href="/main.css" as="style" />
<link
  rel="preload"
  href="/fonts/alegreya-latin-variable-wghtOnly-normal.woff2"
  as="font"
  type="font/woff2"
  crossorigin />
<link
  rel="preload"
  href="/fonts/alegreya-latin-variable-wghtOnly-italic.woff2"
  as="font"
  type="font/woff2"
  crossorigin />
<link rel="preconnect" href="https://source.boringavatars.com" crossorigin />

<!-- Links -->
<link rel="stylesheet" href="/main.css" />

<!-- Favicon Tag -->
<link
  rel="icon"
  href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🐦%3C/text%3E%3C/svg%3E"
  type="image/svg+xml" />

<script>
  var toggle = function (elem) {
    const active = ['text-white', '!bg-gray-700', 'hover:!bg-gray-800']
    const code = document.getElementById(elem + '-code')
    const view = document.getElementById(elem + '-view')
    const toggler = document.getElementById(elem + '-toggle')

    if (window.getComputedStyle(code).display === 'none') {
      view.style.display = 'none'
      code.style.display = 'block'
      toggler.classList.add(...active)
    } else {
      code.style.display = 'none'
      view.style.display = 'block'
      toggler.classList.remove(...active)
    }
  }

  var copy = function (elem) {
    const active = '!fill-gray-600'
    const copyRect = document.getElementById(elem + '-copy-rect')
    copyRect.classList.add(active)
    navigator.clipboard.writeText(
      document.getElementById(elem + '-content').innerHTML
    )
    setTimeout(function () {
      copyRect.classList.remove(active)
    }, 1000)
  }
</script>
