<a href="https://github.com/praveenjuge/myna/issues/new/choose" target="_blank" rel="noreferrer"
  class="flex flex-col font-semibold text-gray-900 transition border border-gray-200 border-dashed divide-y divide-gray-200 rounded h-36 divide-dashed group hover:border-gray-300 focus-within:outline-none focus-within:ring-2 focus-within:ring-gray-300 focus-within:border-gray-300 hover:divide-gray-300">
  <div aria-hidden="true" class="flex items-center justify-center flex-1 select-none">
    <svg aria-hidden="true" class="w-4 h-4 text-gray-300 transition group-hover:text-gray-400"
      xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
      <line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="24"></line>
      <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="24"></line>
    </svg>
  </div>
  <div class="flex items-center justify-between px-3 py-2">
    <span class="truncate font-alegreya">Request Something New</span>
    <svg aria-hidden="true" viewBox="0 0 16 16"
      class="h-4 w-4 flex flex-shrink-0 transition text-gray-400 group-hover:translate-x-0.5">
      <path fill="currentColor"
        d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z">
      </path>
      <path d="M1.75 8H11" stroke-width="1.5" stroke="currentColor" stroke-linecap="round"
        class="stroke-array-10 group-hover:stroke-array-20"></path>
    </svg>
  </div>
</a>